<html>
  <head>
    <title>RPi Robot</title>
    <script src="static/joy.min.js"></script>
  </head>
  <body>
    <h1>Raspberry Pi Robot!</h1>
    <h3>Controls</h3>
    <div id="joyDiv" style="width:200px; height:200px; margin-bottom:20px;"></div>
    <p id="showDivX"></p>
    <p id="showDivY"></p>
    <p id="angleOfJoystick"></p>
    <h3>Video Stream</h3>
    <img src="{{ url_for('video_feed') }}">
    <script>
        // Create JoyStick object into the DIV 'joyDiv'
        var joy = new JoyStick('joyDiv');
        direction = [null, null];
        setInterval(function() {
            document.getElementById("showDivX").innerHTML=joy.GetX(); 
            document.getElementById("showDivY").innerHTML=joy.GetY(); 
            document.getElementById("angleOfJoystick").innerHTML = Math.round(Math.atan2(joy.GetY(), joy.GetX()) * 180 / Math.PI);
            if (joy.GetX() !== "0" && joy.GetY() !== "0") {
                if (0 <= (Math.atan2(joy.GetY(), joy.GetX()) * 180 / Math.PI) && (Math.atan2(joy.GetY(), joy.GetX()) * 180 / Math.PI) <= 180) {
                    direction[0] = "forward"
                } else {
                    direction[0] = "backward"
                }

                if (-90 <= (Math.atan2(joy.GetY(), joy.GetX()) * 180 / Math.PI) && (Math.atan2(joy.GetY(), joy.GetX()) * 180 / Math.PI) <=90) {
                    direction[1] = "left"
                } else {
                    direction[1] = "right"
                }
                let data = {direction: direction, angle: Math.round(Math.atan2(joy.GetY(), joy.GetX()) * 180 / Math.PI)};

                fetch("/move_robot", {
                    method: "POST", 
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                });
            } else {
                if (direction[0] !== "still") {
                    direction[0] = "still"
                    fetch("/move_robot", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({direction: "still"})
                    });
                }
            }
        }, 50);
    </script>
  </body>
</html>
