<html>
  <head>
    <title>RPi Robot</title>
    <script src="static/joy.min.js"></script>
  </head>
  <body>
    <h1>Raspberry Pi Robot!</h1>
    <h3>Controls</h3>
    <div id="joyDiv" style="width:200px; height:200px; margin-bottom:20px;"></div>
    <p id="showDivX"></p>
    <p id="showDivY"></p>
    <p id="angleOfJoystick"></p>
    <h3>Video Stream</h3>
    <img src="{{ url_for('video_feed') }}">
    <script>
        // Create JoyStick object into the DIV 'joyDiv'
        var joy = new JoyStick('joyDiv');
        angle = null;
        setInterval(function() {
            document.getElementById("showDivX").innerHTML=joy.GetX(); 
            document.getElementById("showDivY").innerHTML=joy.GetY(); 
            document.getElementById("angleOfJoystick").innerHTML = Math.round(Math.atan2(joy.GetY(), joy.GetX()) * 180 / Math.PI);
            if (joy.GetX() !== "0" && joy.GetY() !== "0") {
                angle = Math.round(Math.atan2(joy.GetY(), joy.GetX()) * 180 / Math.PI);
                fetch("/move_robot", {
                    method: "POST", 
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        angle: Math.round(Math.atan2(joy.GetY(), joy.GetX()) * 180 / Math.PI)
                    })
                });
            } else {
                if (angle !== "still") {
                    angle = "still"
                    fetch("/move_robot", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({angle: "still"})
                    });
                }
            }
        }, 50);
        
        setInterval(function() {
            document.getElementById("showDivX").innerHTML=joy.GetX(); 
            document.getElementById("showDivY").innerHTML=joy.GetY(); 
            document.getElementById("angleOfJoystick").innerHTML = Math.round(Math.atan2(joy.GetY(), joy.GetX()) * 180 / Math.PI);
            if (joy.GetX() !== "0" && joy.GetY() !== "0") {
                angle = Math.round(Math.atan2(joy.GetY(), joy.GetX()) * 180 / Math.PI);
                fetch("/move_robot", {
                    method: "POST", 
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        angle: Math.round(Math.atan2(joy.GetY(), joy.GetX()) * 180 / Math.PI)
                    })
                });
            } else {
                if (angle !== "still") {
                    angle = "still"
                    fetch("/move_robot", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({angle: "still"})
                    });
                }
            }
            if (navigator.getGamepads()[0] != null) {
                console.log(navigator.getGamepads()[0].axes[0], gamepads[0].axes[1])
                console.log(navigator.getGamepads()[0].axes[0]*180, gamepads[0].axes[1]*180)
            }
            
        }, 50);
    </script>
  </body>
</html>
